img{
    border-radius: 5px;
    transition: all 1s ease;
}
img:hover{
    opacity: 0.5;
}
.listaseries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listapersonagens{
    display: flex;
}
li{
    width: 150px;
}
.filtro{
    padding-top: 25px;
}