.Image-result{
    border-radius: 5px;
    padding-bottom: 5px;
    transition: all 1s ease;
}
.Image-result:hover{
    opacity: 0.5;
}
.listaseries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listapersonagens{
    display: flex;
}
li{
    width: 150px;
}
.filtro{
    padding-top: 25px;
}
.titulo-Busca{
    color: #efefef;
}
.Result-Serie, .Result-Personagem{
    padding-top: 12px;
}
.Loading{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }