
.titulo-Serie, .description-Serie, .titulo-Comic{
  color: #fff;
  padding: 5px;
}
.description-Serie{
  font-size: 100%;
}
.imagem-Serie{
  max-width: 350px;
}
.colImagem-Serie{
  display: flex;
  justify-content: center;
}
.imagem-Comic{
  border-radius: 10px;
  width: 160px;
  height: 220px;
  padding: 5px;
}
.titulo-Comic{
  font-size: 15px;
}
.col-Comic{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}