@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*{
  font-family: 'Oswald', sans-serif;
}
.Personagem_InfoArea{
  padding: 10px 10vw;
  background-color: rgb(28, 30, 33);
  display: flex;
}
.Personagem_BackDrop{
  margin: -15px !important;
  width: 100vw;
  height: 35vh;
  object-fit: cover;
}
.Personagem_FotoProfile{
  margin-right: 10px;
  width: 20vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 5px;
}
.Personagem-Info{
  width: 300px;
  color: rgb(29, 29, 29);
}
.Spinner{
  display:flex;
  align-items: center;
  justify-content: center;
  
}